pkgbase = globalprotect-bin
	pkgdesc = GlobalProtect VPN client Agent
	pkgver = 6.1.2.0
	pkgrel = 82
	url = https://docs.paloaltonetworks.com/globalprotect/5-2/globalprotect-app-user-guide/globalprotect-app-for-linux/download-and-install-the-globalprotect-app-for-linux
	install = globalprotect.install
	arch = x86_64
	license = custom
	depends = qt5-webkit
	depends = wmctrl
	options = !strip
	source = local://GlobalProtect_UI_tar-6.1.2.0-82.tgz
	sha256sums = 7f38958a1f1287cc6d3182cfb4d9c4137a9ad5e9827f7d6a013989fa679b364d

pkgname = globalprotect-bin
